html {
	height: 100%;

}

body {
	margin: 0 auto;
	height: 100%;

	text-align: center;


	font-size: 16px;

	background: #FFFFFF;
	min-width: 1080px;
}

.wrapper {

	position: relative;
	min-height: 100%;
} 


/* override container length */
.container {
}


h1 {
	font-weight: 700;
	padding: 0 0 40px 0;

}

.center {

	text-align: center;
}

.button-primary {
	margin: 0 auto;
	
	position: relative;
	display: inline-block;
	
	width: 200px;
	line-height: 60px;
	
	font-size: 30px;
	color: #FFFFFF;
	
	background: #ed1c24;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.button-primary:hover {
	color: #FFFFFF;
	background: #c4161c;
	text-decoration: none;
}

.button-normal {
    	margin: 0 auto;
	position: relative;
	display: inline-block;
	
	width: 200px;
	line-height: 60px;
	
	text-align: center;
	
	font-size: 30px;
	color: #FFFFFF;

	background: #a7a9ac;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.button-normal:hover {
	color: #FFFFFF;
	background: #939598;
	text-decoration: none;
}

/* TOPBAR */
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.header .logo {
	float: left;
	padding: 15px 0 0 0;
}

.navbar {
	line-height: 30px;	
	background: rgba(0,0,0, 0.8);
	position:fixed;
}

.nav-links li a {
	font-size: 12px;
	color: #a7a9ac;	
}


.nav-links li a:hover {

	color: #FFFFFF;
	background: none;
}





/* SECTIONS */
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.section-padding {
	margin: 0;
	padding: 60px 0 60px 0;

}

#section-header {
	color: #f1f2f2;
	background: #000000;
	
	background: url('../images/dark_mosaic.png');
	background-repeat: repeat-xy;
}

#section-about {

	text-align: left;
	background: #FFFFFF;
}


#section-program {
	/*background: #58595b;*/
	background: url('../images/program_bg.png');
}

#section-info {
	background: #FFFFFF;
}

#section-entry {
	background: #d1d3d4;
}


#footer {
	position: absolute;
	bottom: 0;

	width: 100%;

	color: #a7a9ac;

	background: #000000;
}


/* HEADER */
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/



#section-header h5 {
	margin: 0;
	padding: 2px 0 2px 0;
}

#section-header h2 {
	margin: 0;
	padding: 0;
}

#section-header p {
	line-height: 30px;
	font-size: 16px;
}


#section-header table tbody tr td {
	
	text-align: right;
	padding: 0 4px 0 0;
}


.time {
	font-size: 24px;
	font-weight: 100;
	
	color: #FFFFFF;
}

.time-labels {

	font-size: 10px;
	color: #FFFFFF;
	
	opacity: 0.6;
}

.social-buttons {
	margin: 0;
	padding: 0 14px 0 0;
	
	text-align: right;
}

/* twitter button*/
iframe.twitter-share-button {
        width: 100px !important;
}


/* ABOUT */
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/








/* PROGRAM */
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#section-program h1 {
	color: #FFFFFF;
}


.dropdown-arrow {
	display: block;
	
	width: 100px;
	height: 100px;

	
	background: #435345;
}


.dropdown-arrow:after {
	transform:				rotate(90deg);
	-ms-transform:		rotate(90deg); /* IE 9 */
	-moz-transform: 		rotate(-90deg);
	-webkit-transform:	rotate(90deg); /* Opera, Chrome, and Safari */


	content: ">";
}


.sub-section-button {
	width: 100%;
	height: 80px;
	
	font-size: 24px;

	line-height: 80px;

	color: #bcbec0;
}


.sub-section-button:hover {
	
	color: #FFFFFF;
	cursor: pointer;
}

#section-program hr {
	margin: 0;
	padding: 0;

	border-color: #808285;
}

#section-program .desc {

	margin: 0;	
	padding: 20px 0 40px 0;

	color: #FFFFFF;
}

#role-table { 
	text-align: center;
	padding: 0 0 10px;
}
#role-table table {
	margin-left:auto;
	margin-right:auto;
}

#role-table td {
	text-align:left;
	padding: 0 5px;
}


/* INFORMATION */
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#section-info .arrow-bg {
	background-image: url('../images/arrow_bg.png');
	background-repeat: no-repeat;
}

#section-info img {
	width: 100px;

}

#section-info .sub-section h4 {
	color: #808285;
}

/* Outline ----------------------------------------*/
#section-info .sub-section {
	padding: 0 0 80px 0;
}

#section-info .sub-section h3 {
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
	
	width: 100%;
	color: #808285;
	color: #ed1c24;
	
	border-bottom: 1px solid #d1d3d4;
}

#section-info .sub-section table tbody tr td,
#section-info .sub-section p {
	text-align: left;
	border: 0 none;
}

#section-info .sub-section table tbody tr td:first-child {
	color: #808285;
}





/* ENTRY */
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

input[type=text] {
	padding: 0 0 0 10px;

	width: 500px;
	height: 40px;

	
	border: 0 none;
		
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

}

textarea {
    resize: none;
	
	
	border: 0 none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}


.align-left {
		text-align: left;
}


.dropdown {

	width: 500px;
	height: 40px;
	
	background: #e6e7e8;
	border: 0 none;
	
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

}


input[type=radio] {
	display:none; 
    margin: 20px;
	
	
}


input[type=radio] + label {
    display:inline-block;
    margin:-2px;
    padding: 0 20px 0 20px;
	
	line-height: 40px;

	
	
	font-weight: 300;
	
	cursor: pointer;
	
    background: #FFFFFF;
    
	
	border: 1px solid #ccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
		
		
}

input[type=radio]:checked + label { 

	color: #FFFFFF;
	
	
    background:#58595b;
}

.alert-form {
	margin: 0 auto;
	width: 440px;
	color: #d23131;
	font-weight: bold;
}

.submit_button {
	border-style: none;
}

input[type=submit] {
	position: relative;
	display: block;
	margin: 0 auto;
	
	width: 200px;
	line-height: 60px;
	
	text-align: center;
	
	font-size: 30px;
	color: #FFFFFF;
	
	background: #ed1c24;
	
	border: 0 none;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

}


input[type=submit]:disabled {
	background: #a7a9ac;
}

input[type=submit]:enabled:hover {
	color: #FFFFFF;
	background: #c4161c;
	text-decoration: none;
}



